html {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #63d471;
    background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);
}


/* ....top navbar start..... */

.topnav {
    overflow: hidden;
    background-color: #333;
    padding: 10px;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}


/* ...banner i.e home page section start... */


/* Banner */

#banner {
    position: relative;
    /* background-image: url("silicon_valley.jpg"), url("silicon_valley.jpg"), url("silicon_valley.jpg"); */
    background-position: top left, top left, center center;
    background-repeat: repeat, repeat, no-repeat;
    background-size: auto, auto, cover;
    z-index: 1;
    padding: 11em 0;
}

#banner .content {
    position: relative;
    background-color: rgba(21, 28, 23, 0.85);
    background-image: url("images/overlay.png"), url("images/highlight.png");
    background-position: top left, center center;
    background-size: auto, 100% 250%;
    background-repeat: repeat, no-repeat;
    text-align: center;
    margin: 0;
    padding: 4em 0 3.5em 0;
}

#banner .content h2 {
    color: #fff;
    font-size: 2.75em;
    margin: 0 0 0.5em 0;
}

#banner .content p {
    display: block;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #575d59;
    font-size: 1.35em;
    margin: 0 0 1.25em 0;
}

#banner .content .button {
    -moz-transition: border-color .2s ease-in-out, color .2s ease-in-out;
    -webkit-transition: border-color .2s ease-in-out, color .2s ease-in-out;
    -ms-transition: border-color .2s ease-in-out, color .2s ease-in-out;
    transition: border-color .2s ease-in-out, color .2s ease-in-out;
    color: #b4b7b5;
    background: transparent !important;
    border: solid 4px #575d59;
    border-color: rgba(87, 93, 89, 0.35);
    font-size: 1.5em;
}

#banner .content .button:hover {
    color: #e4e7e5;
    border-color: rgba(31, 190, 87, 0.75);
}

#banner .content .button:active {
    color: #fff;
    border-color: #78857e;
}


/* ...banner i.e home page section end... */


/* ...coding profiles section..... */

#codingsection {
    flex-direction: column;
    text-align: center;
    height: 600px;
}

#codingsection h3 {
    text-shadow: 2px 2px 5px rgb(0, 255, 0);
}

.column {
    float: left;
    width: 20%;
    padding: 30px;
}


/* Clearfix (clear floats) */

.row::after {
    content: "";
    clear: both;
    display: table;
}

.container {
    position: relative;
    max-width: 700px;
    margin: 0 auto;
}

.container img {
    vertical-align: middle;
}

.container .content {
    position: absolute;
    bottom: 0;
    background: rgb(167, 236, 190);
    /* Fallback color */
    background: rgba(76, 77, 76, 0.8);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    height: 50%;
    padding: 5px;
    overflow: scroll;
}


/* ...... */


/* ...blogs.... */

#blogs {
    padding: 10px;
    margin-top: 700px;
}

#blogs a {
    color: #d1f1dc;
}


/* ......education..... */

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.aside {
    background-color: #050505d8;
    padding: 20px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}


/* For desktop: */

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        margin-top: 10px;
        width: 100%;
        height: 120px;
    }
}


/* ........footer........ */

#FOOTER {
    margin-top: 50px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.title {
    color: grey;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}